@font-face {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-style: normal;
}

/*
  colors for future use:
  gold: #e4b61a
  yellow: #fbe134
  silver: #e9eaec
  slate: #2a2e34
  black: #0b0c0c
*/

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  color: #e9eaec;
  font-weight: 600;
}

.selectionmenu {
  padding: 3px;
  overflow: hidden;
}

#menu {
  background-image: linear-gradient(to right, rgba(0,0,0,0) 20%, rgba(0, 0, 0, 1) 40% 60%, rgba(0,0,0,0) 80%);
  padding: 5px;
}

table.statsbar {
  border: 1px solid white;
  border-spacing: 0px;
  border-collapse: collapse;
  table-layout: fixed;
  width: 90%;
}

table.statsbar th {
  font-size: 12px;
  font-weight: 200;
}

table.statsbar col {
  border: 1px solid white;
}

table.statsbar col:nth-child(odd) {
  background-color: #606060
}

table.statsbar col:nth-child(even) {
  background-color: #303030
}

table.statsbar tr.descriptor {
  font-size: 10px;
  font-weight: 200;
  font-style: italic;
}

table.statsbar tr.statline td {
  font-size: 20px;
  font-weight: 450;
  padding-top: 6px;
}

table {
  border-width: 0px;
  border-spacing: 15px;
  padding: 5px;
}

h1 {
  text-decoration: underline;
}

.bodytext {
  padding-left: 5%;
  padding-right: 5%;
}

.sectiondiv {
  border: 1px solid #e9eaec;
}

body {
  color: #e9eaec;
	background:url(../GHLWebsiteApp/background.jpg) no-repeat top center fixed;
  background-size: 80%;
	min-height: 100%;
	width: 100%;
	background-color: black;
}

#fakescoreboard {
  text-align: center;
  left: 0%;
  right: 0%;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  width: 99%;
  min-height: 120px;
  height: 120px;
  border: 3px solid #e9eaec;
  line-height: 120px;
  z-index: -1;
}

.section {
  justify-content: center;
  background-color: black;
  vertical-align: top;
  border: 5px solid #e4b61a;
  text-align: center;
  margin-bottom: 10px;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.section_lg {
  max-width: 90%;
}

.subsection-container {
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
}

.subsection-container-vert {
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#leftside {
  width: 350px;
  padding: 5px;
  vertical-align: top;
}

#rightside {
  width: 950px;
  padding: 5px;
  vertical-align: top;
}

tr:nth-child(odd) {
  background-color: #606060;
}

tr.no-bg {
  background-color: transparent;
}

th {
  border-bottom: 1px solid #e9eaec;
  background-color: #303030;
}

.header {
  display: flex;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  background-color: black;
  font-weight: 500;
  padding: 15px;
  padding-top: 15px;
  font-size: 26px;
  line-height: 26px;
  text-decoration: underline;
}

.clinched {
  outline: 2px;
  text-shadow: 1px 1px 3px black;
  background-color: #b89217;
  outline-style: outset;
}

.standingstable {
  align-self: center;
  border: 1px solid #e9eaec;
  padding: 3px;
  white-space: nowrap;
  background-color: #303030;
  border-spacing: 5px;
  margin: 5px;
  margin-bottom: 15px;
  min-width: 85%;
}

#fullstandings {
  table-layout: fixed;
  align-self: center;
  justify-self: center;
  border: 1px solid #e9eaec;
  padding: 3px;
  background-color: #303030;
  border-spacing: 5px;
  margin: 5px;
  margin-bottom: 15px;
}

#playoffInfo {
  font-weight: 150;
  color: #959697;
  font-style: italic;
  margin: 5px;
}

td {
  text-align: center;
  padding: 2px 5px 2px 5px;
}

td.points {
  font-weight: 600;
  text-align: center;
  color: #fbe134;
}

.bottomborder {
  border-bottom: 1px solid white;
}

#divider {
  height: 5px;
  margin-bottom: 5px;
  background-color: #e4b61a;
}

#information {
  width: 350px;
  max-width: 350px;
  background-color: black;
  vertical-align: top;
}

#rightbar {
  background-color: black;
  vertical-align: top;
  border: 5px solid #e4b61a;
}

#playerfocustable {
  align-items: center;
  align-content: center;
  text-align: center;
  display: inline;
  flex-grow: 1;
  line-height: 20px;
}

#playerfocustable table {
  border: 1px solid #e9eaec;
}

#playerfocustable table, #playerfocustable td {
  border-spacing: 0;
}

#playerfocusimg {
  display: inline;
  flex-grow: 1;
}

.inter-scoreboard {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

.nav__container {
  background-color: #2b2c2d;
  width: 100%;
  display: flex;
  position: relative;
}
.nav__container .nav__content {
  width: 1025px;
  margin: 0 auto;
  display: flex;
}
.nav__container .logo__container {
  background: #1cdb0b;
  box-sizing: border-box;
  width: 125px;
  transform: skew(-25deg, 0);
  border-right: 10px solid #15b400;
  border-left: 10px solid #15b400;
}
@media (max-width: 576px) {
  .nav__container .logo__container {
    margin-left: -1.25rem;
  }
}
.nav__container ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
}
.nav__container li {
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  margin-right: 1.5rem;
  transition: all 0.25s ease;
}
.nav__container p {
  color: white;
}

.nav__items:hover > li {
  color: rgba(255, 255, 255, 0.5);
}

.nav__items:hover > li:hover {
  color: white;
}

.scoreboard__container {
  display: flex;
  overflow: auto;
  white-space: nowrap;
}
.scoreboard__container::-webkit-scrollbar {
  display: none;
}
@media (max-width: 576px) {
  .scoreboard__container {
    display: block;
  }
}

.game__container {
  padding: 0.5rem;
  background-color: white;
  border-right: 1px solid gray;
  font-size: 12px;
}
@media (max-width: 576px) {
  .game__container {
    border-bottom: 1px dotted #DCDDDF;
    border-right: none;
    max-width: 400px;
    margin: 0 auto;
  }
}

.info-split {
  display: flex;
  align-items: center;
}

.game__in-progress {
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  border-left: 1px solid #DDD;
  line-height: 1.5;
  font-size: 10px;
}

.game__top-bar {
  display: flex;
}
.game__top-bar .game__channel {
  margin-left: auto;
  color: #6d6e70;
}

.game__time {
  margin-bottom: 0.5rem;
  display: inline-block;
  font-weight: bold;
}
.game__time.in-progress {
  color: #db0b17;
}

.team__container {
  width: 110px;
}
@media (max-width: 576px) {
  .team__container {
    width: 60%;
  }
}

.team {
  display: flex;
  align-items: center;
  height: 1.5rem;
  width: 100%;
}
.team__logo {
  width: auto;
  height: 1.25rem;
  margin-right: 0.5rem;
}
.team__score {
  font-weight: bold;
  margin-left: auto;
}

.losing-team {
  opacity: 0.4;
}

.hide {
  display: none;
}

#copyright {
  vertical-align: bottom;
  text-align: center;
  align-self: center;
  text-shadow: 1px 1px 5px black;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(0, 0, 0, 0.5);
}