@font-face {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-style: normal;
}

body {
	background:url(./images/background.jpg) no-repeat top center fixed;
	min-height:100%;
	width:100%;
	background-color:black;
}

.inter-scoreboard {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

tr.scoreboard-full {
	width: "100%";
	min-height: 114px;
}

td.scoreboard-left {
	width: 48px;
}

td.scoreboard-right {
	width: 48px;
}

td.scoreboard-body {
	width: auto;
}

.nav__container {
  background-color: #2b2c2d;
  width: 100%;
  display: flex;
  position: relative;
}
.nav__container .nav__content {
  width: 1025px;
  margin: 0 auto;
  display: flex;
}
.nav__container .logo__container {
  background: #db0b17;
  box-sizing: border-box;
  width: 125px;
  transform: skew(-25deg, 0);
  border-right: 10px solid #b40000;
  border-left: 10px solid #b40000;
}
@media (max-width: 576px) {
  .nav__container .logo__container {
    margin-left: -1.25rem;
  }
}
.nav__container ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
}
.nav__container li {
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  margin-right: 1.5rem;
  transition: all 0.25s ease;
}
.nav__container p {
  color: white;
}

.nav__items:hover > li {
  color: rgba(255, 255, 255, 0.5);
}

.nav__items:hover > li:hover {
  color: white;
}

.scoreboard__container {
  display: flex;
  overflow: auto;
  white-space: nowrap;
}
.scoreboard__container::-webkit-scrollbar {
  display: none;
}
@media (max-width: 576px) {
  .scoreboard__container {
    display: block;
  }
}

.game__container {
  padding: 0.5rem;
  background-color: white;
  border-right: 1px solid gray;
  font-size: 12px;
}
@media (max-width: 576px) {
  .game__container {
    border-bottom: 1px dotted #DCDDDF;
    border-right: none;
    max-width: 400px;
    margin: 0 auto;
  }
}

.info-split {
  display: flex;
  align-items: center;
}

.game__in-progress {
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  border-left: 1px solid #DDD;
  line-height: 1.5;
  font-size: 10px;
}

.game__top-bar {
  display: flex;
}
.game__top-bar .game__channel {
  margin-left: auto;
  color: #6d6e70;
}

.game__time {
  margin-bottom: 0.5rem;
  display: inline-block;
  font-weight: bold;
}
.game__time.in-progress {
  color: #db0b17;
}

.team__container {
  width: 110px;
}
@media (max-width: 576px) {
  .team__container {
    width: 60%;
  }
}

.team {
  display: flex;
  align-items: center;
  height: 1.5rem;
  width: 100%;
}
.team__logo {
  width: auto;
  height: 1.25rem;
  margin-right: 0.5rem;
}
.team__score {
  font-weight: bold;
  margin-left: auto;
}

.losing-team {
  opacity: 0.4;
}

.hide {
  display: none;
}