{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
	<title>Gamers Hockey League</title>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<meta name="keywords" content="xbox, gaming, game, sports, league, leagues, hockey, nhl, ea, statistics, mature, competition, compete, respect, eashl, chel" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
	<link href="{% static 'GHLWebsiteApp/mainstyle.css' %}" rel="stylesheet" type="text/css" />
	<!-- <script src="{% static "GHLWebsiteApp/SchnozBoard.js" %}"></script> -->
	<script src="{% static 'GHLWebsiteApp/sortable.js'  %}"></script>
</head>

<body>
	<main><center>
		{% for game in scoreboard %}
		{% if forloop.first %}
		<div class="scoreboard__container">
		{% endif %}
			<a href="{% url 'game' game.game_num %}">
				<div class="game__container">
					<div class="game__top-bar">
						<span class="game__time">{{ game.expected_time|date:"D M j" }}, {{ game.expected_time|time:"g:i" }}</span>
					</div>
					<div class="info-split">
						<div class="team__container">
							{% if game.a_team_gf > game.h_team_gf %}
							<div class="team">
							{% else%}
							<div class="team losing-team">
							{% endif %}
								<img class="team__logo" src="{{ game.a_team_num.team_logo_link }}" />
								<p class="team__name">{{ game.a_team_num.club_abbr }}</p>
								<p class="team__score">{{ game.a_team_gf }}</p>
							</div>
							{% if game.h_team_gf > game.a_team_gf %}
							<div class="team">
							{% else %}
							<div class="team losing-team">
							{% endif %}
								<img class="team__logo" src="{{ game.h_team_num.team_logo_link }}" />
								<p class="team__name">{{ game.h_team_num.club_abbr }}</p>
								<p class="team__score">{{ game.h_team_gf }}</p>
							</div>
						</div>
					</div>
				</div>
			</a>
		{% if forloop.last %}
		</div>
		{% endif %}
		{% empty %}
		<div class="fakescoreboard">
			No games played yet this season.
		</div>
		{% endfor %}
		<div id="menu">
			<a href="{% url 'index' %}">Home</a> | 
			<a href="{% url 'standings' %}">Standings</a> | 
			<a href="{% url 'leaders' %}">League Leaders</a> | 
			<a href="{% url 'skaters' %}">Skater Stats</a> | 
			<a href="{% url 'goalies' %}">Goalie Stats</a> | 
			<!-- <a href="{% url 'draft' %}">Draft</a> | -->
			<!--<a href="{% url 'awardsDef' %}">-->Awards (soon!)
		</div>
		</center>
		<div id="divider"></div>
		{% block body %}
		{% endblock %}	
	</main>
</body>
<footer>
	<center><div id="copyright">&#169 2025 GHL, All Rights Reserved</div></center>
</footer>
</html>