{% extends "GHLWebsiteApp/layout.html" %}

{% block body %}
<div class="section section_lg" style="text-align: -webkit-center; place-self: center;">
    <div class="header">Login</div>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}" class="login-form">
        {% csrf_token %}
    
        {% if form.non_field_errors %}
            <div class="error">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
    
        <label for="{{ form.username.id_for_label }}">
            {{ form.username.label }}
        </label>
        <div>
            {{ form.username }}
            {% for error in form.username.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>
    
        <label for="{{ form.password.id_for_label }}">
            {{ form.password.label }}
        </label>
        <div>
            {{ form.password }}
            {% for error in form.password.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>
    
        <div class="full-width">
            <button type="submit" class="btn-submit">Login</button>
        </div>
    
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    <p><a href="{% url 'register' %}">Don't have an account? Register here.</a></p>
</div>
{% endblock %}
