{% extends "GHLWebsiteApp/layout.html" %}

{% block body %}
<div class="section section_lg" style="text-align: -webkit-center; place-self: center; padding: 10px; max-width: 50vw;">
    Enter your email below to reset your password. You will receive an email with a link to reset your password if the email is registered in our system.
    <form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %}
        {{ form.email.errors }}
    {% endif %}
        <p>{{ form.email }}</p>
        <input type="submit" class="btn btn-default btn-lg" value="Reset password">
    </form>
</div>
{% endblock %}
