{% extends "GHLWebsiteApp/layout.html" %}
{% load static %}
{% block title %} - Awards{% endblock %}
{% block body %}
<center>
    <div class="section section_lg"><center> 
        <div class="selectionmenu">
            <a>Placeholder for award voting</a>
            <form>
                <select id="awardselect" name="awardselect">
                    <optgroup>
                        <option selected disabled value="">Change award</option>
                        {% for x in awardslist %}
                        <option value="/awards/{{ x.award_num }}/">{{ x.award_Name }}</option>
                        {% endfor %}
                    </optgroup>
                </select>
            </form>
            <script>
                const dropdown = document.getElementById('awardselect');
                dropdown.addEventListener('change', function() {
                    const selectedValue = dropdown.value;
                    if (selectedValue) {
                        window.location.href = selectedValue;
                    }
                });
            </script>
        </div>
        <div style="padding: 10px;">
            
        </div>
        <div class="header" style="font-size: 80px; line-height: 50px;">
            {{ award.award_Name }}
        </div>
        <div id="desc" style="padding: 0px; font-style: italic;">
            <p>{{ award.award_Desc }}</p>
        </div>
        {% if award.assign_or_vote == False %} <!-- Vote -->
        <div class="subsection-container">
            <table>
                <col style="width: 25%;">
                <col style="width: 25%;">
                <col style="width: 50%;">
                <tr class="no-bg">
                    <td>
                        <img src="{% static 'GHLWebsiteApp/stock-user-photo.jpg' %}" width=220 height=220 /> <!-- winner's pic -->
                    </td>
                    <td>
                        <img src="{{ awardrecent.first.team.team_logo_link }}" width=220 height=220 /> <!-- winner's team logo -->
                    </td>
                    <td>
                        <table class="standingstable">
                            <tr>
                                <th>Pos</th>
                                <th>Player</th>
                                <th colspan=2>Team</th>
                                <th>Votes</th>
                            </tr>
                            {% for award in awardrecent %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td{% if forloop.first %} class="points"{% endif %}>{{ award.ea_player_num.username }}</td>
                                <td><img src="{{ award.team.team_logo_link }}"  height="24" width="24" /></td>
                                <td>{{ award.team.club_full_name }}</td>
                                <td>{{ award.votes_num }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="subsection-container-vert">
            <div class="header">Previous Winners</div>
            <div class="subsection-container" style="width: 70%;">
                <table class="standingstable">
                    <tr>
                        <th>Season</th>
                        <th>Winner</th>
                        <th colspan=2>Team</th>
                        <th>Votes</th>
                    </tr>
                    {% for award in awardhistory %}
                    <tr>
                        <td>{{ award.season_num.season_text }}</td>
                        <td class="points">{{ award.ea_player_num.username }}</td>
                        <td><img src="{{ award.team.team_logo_link }}"  height="24" width="24" /></td>
                        <td>{{ award.team.club_full_name }}</td>
                        <td>{{ award.votes_num }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% else %} <!-- Assign -->
        <div class="subsection-container">
            <table>
                <col style="width: 25%; min-width: 400px;">
                <col style="width: 25%;">
                <col style="width: 50%;">
                <tr class="no-bg">
                    <td>
                        {% if award.award_num == 1 or award.award_num == 2 %}
                        <h1 style="font-style: normal; text-decoration-line: none;">{{ awardrecent.first.team.club_full_name }}</h1>
                        {% else %}
                        <img src="{% static 'GHLWebsiteApp/stock-user-photo.jpg' %}" width=220 height=220 /> <!-- winner's pic -->
                        {% endif %}
                    </td>
                    <td>
                        <img src="{{ awardrecent.first.team.team_logo_link }}" width=220 height=220 /> <!-- winner's team logo -->
                    </td>
                    <td>
                        <table class="standingstable">
                            <tr>
                                {% if award.award_num == 1 or award.award_num == 2 %}
                                <th>Winners</th>
                                {% else %}
                                <th>Winner</th>
                                <th colspan=2>Team</th>
                                {% endif %}
                            </tr>
                            {% if award.award_num == 1 or award.award_num == 2 %}
                                {% for award in awardrecent %}
                                <tr>
                                    <td class="points" style="max-width: 600px; text-wrap: pretty;">
                                    {% for player in award.players.all %}
                                        {{ player.username }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                    </td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                {% for award in awardrecent %}
                                <tr>
                                    <td{% if forloop.first %} class="points"{% endif %}>{{ award.players.first.username }}</td>
                                    <td><img src="{{ award.team.team_logo_link }}"  height="24" width="24" /></td>
                                    <td>{{ award.team.club_full_name }}</td>
                                </tr>
                                {% endfor %}
                            {% endif %}
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="subsection-container-vert">
            <div class="header">Previous Winners</div>
            <div class="subsection-container" style="width: 70%;">
                <table class="standingstable">
                    <colgroup>
                        <col style="width: 15%;">
                        <col style="max-width: 80%; text-wrap: pretty;">
                        <col style="white-space: nowrap; width: 5%;">
                        <col style="white-space: nowrap; width: 15%; padding: 15px;">
                    </colgroup>
                    <tr>
                        
                        <th>Season</th>
                        <th style="max-width: 80%;">
                            {% if award.award_num == 1 or award.award_num == 2 %}
                            Winners
                            {% else %}
                            Winner
                            {% endif %}
                        </th>
                        <th colspan=2>Team</th>
                    </tr>
                    {% if award.award_num == 1 or award.award_num == 2 %}
                        {% for award in awardhistory %}
                        <tr>
                            <td>{{ award.season_num.season_text }}</td>
                            <td class="points" style="max-width: 600px; text-wrap: pretty;">
                                {% for player in award.players.all %}
                                    {{ player.username }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td><img src="{{ award.team.team_logo_link }}"  height="24" width="24" /></td>
                            <td>{{ award.team.club_full_name }}</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        {% for award in awardhistory %}
                        <tr>
                            <td>{{ award.season_num.season_text }}</td>
                            <td class="points">{{ award.players.first.username }}</td>
                            <td><img src="{{ award.team.team_logo_link }}"  height="24" width="24" /></td>
                            <td>{{ award.team.club_full_name }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
        </div>
        {% endif %}
    </center></div>
</center>
{% endblock %}