{% extends "GHLWebsiteApp/layout.html" %}
{% load static %}
{% block body %}
<center>
    <div class="section section_lg"><center>
        <div class="game-summary">
            <div class="stats-team-box">
                <div class="stats-team" style="background-image: linear-gradient(115deg, {{ game.a_team_num.team_color }}, black 80%);">
                    <a href="{% url 'team' game.a_team_num.ea_club_num %}" class="stats-team-link noline">
                        <img src="{{ game.a_team_num.team_logo_link }}" alt="Away Team Logo" class="stats-team-logo">
                        <div class="stats-info">
                            <div class="stats-team-location">{{ game.a_team_num.team_location }}</div>
                            <div class="stats-team-name">{{ game.a_team_num.team_name }}</div>
                            {% if not a_team_standing %}
                            <div class="stats-standing">(0-0-0)</div>
                            {% else %}
                            <div class="stats-standing">({{a_team_standing.wins}}-{{a_team_standing.losses}}-{{a_team_standing.otlosses}})</div>
                            {% endif %}
                        </div>
                    </a>
                </div>
                <div class="score-box">
                    <div class="game-info">
                        <span>
                            <span class="score">{{ game.a_team_gf }}</span>
                            <span class="vs">-</span>
                            <span class="score">{{ game.h_team_gf }}</span>
                        </span>
                        {% if game.gamelength > 3600 %}
                        <span style="font-weight: 400; font-size: 24px">Final/OT</span>
                        {% elif game.played_time is None %}
                        <span style="font-weight: 400; font-size: 24px">Scheduled</span>
                        {% else %}
                        <span style="font-weight: 400; font-size: 24px">Final</span>
                        {% endif %}
                        <span style="font-weight: 200; font-size: 16px;">{{ gamelength }}</span>
                    </div>
                </div>
                <div class="stats-team" style="background-image: linear-gradient(115deg, black 20%, {{ game.h_team_num.team_color }});">
                    <a href="{% url 'team' game.h_team_num.ea_club_num %}" class="stats-team-link noline">
                        <img src="{{ game.h_team_num.team_logo_link }}" alt="Home Team Logo" class="stats-team-logo">
                        <div class="stats-info">
                            <div class="stats-team-location">{{ game.h_team_num.team_location }}</div>
                            <div class="stats-team-name">{{ game.h_team_num.team_name }}</div>
                            {% if not h_team_standing %}
                            <div class="stats-standing">(0-0-0)</div>
                            {% else %}
                            <div class="stats-standing">({{h_team_standing.wins}}-{{h_team_standing.losses}}-{{h_team_standing.otlosses}})</div>
                            {% endif %}
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <table class="stats-table">
            <thead>
                <tr>
                    <th style="border-bottom: 1px solid #444;">{{ game.a_team_num.club_abbr }}</th>
                    <th style="border-bottom: 1px solid #444;">vs.</th>
                    <th style="border-bottom: 1px solid #444;">{{ game.h_team_num.club_abbr }}</th>
                </tr>
            </thead>
            <tbody>
                <tr class="no-bg stat-row">
                    <td class="stats-value">{{ a_team_record.sog_team }}</td>
                    <td class="stats-label">Shots</td>
                    <td class="stats-value">{{ h_team_record.sog_team }}</td>
                </tr>
                <tr class="no-bg stats-bar-row">
                    <td colspan="3">
                      <div class="stats-bar-container">
                        <div class="stats-bar" style="width: {{ comparison_stats.away_sogperc }}%; background-color: {{game.a_team_num.team_color}};"></div>
                        <div style="width: 1px; background-color: black"></div>
                        <div style="width: 3px; background-color: white"></div>
                        <div style="width: 1px; background-color: black"></div>
                        <div class="stats-bar" style="width: {{ comparison_stats.home_sogperc }}%; background-color: {{game.h_team_num.team_color}};"></div>
                      </div>
                    </td>
                </tr>
                <tr class="no-bg stat-row">
                    <td class="stats-value">{{ a_team_record.hits_team }}</td>
                    <td class="stats-label">Hits</td>
                    <td class="stats-value">{{ h_team_record.hits_team }}</td>
                </tr>
                <tr class="no-bg stats-bar-row">
                    <td colspan="3">
                      <div class="stats-bar-container">
                        <div class="stats-bar" style="width: {{ comparison_stats.away_hitsperc }}%; background-color: {{game.a_team_num.team_color}};"></div>
                        <div style="width: 1px; background-color: black"></div>
                        <div style="width: 3px; background-color: white"></div>
                        <div style="width: 1px; background-color: black"></div>
                        <div class="stats-bar" style="width: {{ comparison_stats.home_hitsperc }}%; background-color: {{game.h_team_num.team_color}};"></div>
                      </div>
                    </td>
                </tr>
                <tr class="no-bg stat-row">
                    <td class="stats-value">{{ a_team_toa }}</td>
                    <td class="stats-label">Time On Attack</td>
                    <td class="stats-value">{{ h_team_toa }}</td>
                </tr>
                <tr class="no-bg stats-bar-row">
                    <td colspan="3">
                      <div class="stats-bar-container">
                        <div class="stats-bar" style="width: {{ comparison_stats.away_toaperc }}%; background-color: {{game.a_team_num.team_color}};"></div>
                        <div style="width: 1px; background-color: black"></div>
                        <div style="width: 3px; background-color: white"></div>
                        <div style="width: 1px; background-color: black"></div>
                        <div class="stats-bar" style="width: {{ comparison_stats.home_toaperc }}%; background-color: {{game.h_team_num.team_color}};"></div>
                      </div>
                    </td>
                </tr>
                <tr class="no-bg stat-row">
                    <td class="stats-value">{{ a_team_record.pass_comp_team }} / {{ a_team_record.pass_att_team }}</td>
                    <td class="stats-label">Passing</td>
                    <td class="stats-value">{{ h_team_record.pass_comp_team }} / {{ h_team_record.pass_att_team }}</td>
                </tr>
                <tr class="no-bg stats-bar-row">
                    <td colspan="3">
                      <div class="stats-bar-container">
                        <div class="stats-bar" style="width: {{ comparison_stats.away_passperc }}%; background-color: {{game.a_team_num.team_color}};"></div>
                        <div style="width: 1px; background-color: black"></div>
                        <div style="width: 3px; background-color: white"></div>
                        <div style="width: 1px; background-color: black"></div>
                        <div class="stats-bar" style="width: {{ comparison_stats.home_passperc }}%; background-color: {{game.h_team_num.team_color}};"></div>
                      </div>
                    </td>
                </tr>
                <tr class="no-bg stat-row">
                    <td class="stats-value">{{ a_team_record.fow_team }}</td>
                    <td class="stats-label">Faceoffs</td>
                    <td class="stats-value">{{ h_team_record.fow_team }}</td>
                </tr>
                <tr class="no-bg stats-bar-row">
                    <td colspan="3">
                      <div class="stats-bar-container">
                        <div class="stats-bar" style="width: {{ comparison_stats.away_fowperc }}%; background-color: {{game.a_team_num.team_color}};"></div>
                        <div style="width: 1px; background-color: black"></div>
                        <div style="width: 3px; background-color: white"></div>
                        <div style="width: 1px; background-color: black"></div>
                        <div class="stats-bar" style="width: {{ comparison_stats.home_fowperc }}%; background-color: {{game.h_team_num.team_color}};"></div>
                      </div>
                    </td>
                </tr>
                <tr class="no-bg stat-row">
                    <td class="stats-value">{{ a_team_record.pims_team }}</td>
                    <td class="stats-label">Penalty Minutes</td>
                    <td class="stats-value">{{ h_team_record.pims_team }}</td>
                </tr>
                <tr class="no-bg stats-bar-row">
                    <td colspan="3">
                      <div class="stats-bar-container">
                        <div class="stats-bar" style="width: {{ comparison_stats.away_pimsperc }}%; background-color: {{game.a_team_num.team_color}};"></div>
                        <div style="width: 1px; background-color: black"></div>
                        <div style="width: 3px; background-color: white"></div>
                        <div style="width: 1px; background-color: black"></div>
                        <div class="stats-bar" style="width: {{ comparison_stats.home_pimsperc }}%; background-color: {{game.h_team_num.team_color}};"></div>
                      </div>
                    </td>
                </tr>
                <tr class="no-bg stat-row">
                    <td class="stats-value">{{ a_team_record.ppg_team }} / {{ a_team_record.ppo_team }}</td>
                    <td class="stats-label">Powerplays</td>
                    <td class="stats-value">{{ h_team_record.ppg_team }} / {{ h_team_record.ppo_team }}</td>
                </tr>
                <tr class="no-bg stats-bar-row">
                    <td colspan="3">
                      <div class="stats-bar-container">
                        <div class="stats-bar" style="width: {{ comparison_stats.away_ppperc }}%; background-color: {{game.a_team_num.team_color}};"></div>
                        <div style="width: 1px; background-color: black"></div>
                        <div style="width: 3px; background-color: white"></div>
                        <div style="width: 1px; background-color: black"></div>
                        <div class="stats-bar" style="width: {{ comparison_stats.home_ppperc }}%; background-color: {{game.h_team_num.team_color}};"></div>
                      </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="divider"></div>
        <div class="header" style="color: #fbe134">{{ game.a_team_num.club_full_name }}</div>
        <div class="section_lg" style="align-items: auto; width: 90%; overflow-x: scroll; margin-bottom: 10px;"><center>
            <table class="statsbar betweenrows">
                <col style="width: 240px;"><!-- Player -->
                <col style="width: 60px;"><!-- Pos -->
                <col style="width: 60px;"><!-- OVR -->
                <col style="width: 80px;"><!-- Build -->
                <col style="width: 60px;"><!-- G -->
                <col style="width: 60px;"><!-- A -->
                <col style="width: 60px;"><!-- PTS -->
                <col style="width: 60px;"><!-- S -->
                <col style="width: 80px;"><!-- S% -->
                <col style="width: 80px;"><!-- Shot Eff -->
                <col style="width: 60px;"><!-- Deflections -->
                <col style="width: 60px;"><!-- PIM -->
                <col style="width: 60px;"><!-- +/- -->
                <col style="width: 60px;"><!-- HITS -->
                <col style="width: 60px;"><!-- FOW -->
                <col style="width: 60px;"><!-- FOL -->
                <col style="width: 60px;"><!-- BS -->
                <col style="width: 60px;"><!-- INT -->
                <col style="width: 60px;"><!-- GVA -->
                <col style="width: 60px;"><!-- TKA -->
                <col style="width: 60px;"><!-- Pens Drawn -->
                <col style="width: 60px;"><!-- PK Clears -->
                <col style="width: 60px;"><!-- PPG -->
                <col style="width: 60px;"><!-- SHG -->
                <col style="width: 80px;"><!-- Pass% -->
                <col style="width: 80px;"><!-- Poss Time -->
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>Pos</th>
                        <th>OVR</th>
                        <th>Build</th>
                        <th>G</th>
                        <th>A</th>
                        <th>PTS</th>
                        <th>S</th>
                        <th>S%</th>
                        <th>Shot Eff</th>
                        <th>Dflct</th>
                        <th>PIM</th>
                        <th>+/-</th>
                        <th>HITS</th>
                        <th>FOW</th>
                        <th>FOL</th>
                        <th>BS</th>
                        <th>INT</th>
                        <th>GVA</th>
                        <th>TKA</th>
                        <th>Pens Drawn</th>
                        <th>PK Clears</th>
                        <th>PPG</th>
                        <th>SHG</th>
                        <th>Pass%</th>
                        <th>Poss (sec)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in a_skater_records %}
                    <tr class="no-bg">
                        <td class="hoverlink"><a href="{% url 'player' player.ea_player_num.ea_player_num %}">{{ player.ea_player_num.username }}</a></td>
                        <td>{{player.position.positionShort}}</td>
                        <td class="meta-rating" data-rating="{{player.gameskaterrating.overall_rating}}" style="border-radius: 0;">{{ player.gameskaterrating.overall_rating|floatformat:0|default:"-" }}</td>
                        <td>{{player.build.buildShort}}</td>
                        <td>{{player.goals}}</td>
                        <td>{{player.assists}}</td>
                        <td>{{player.points}}</td>
                        <td>{{player.sog}}</td>
                        <td>{{player.shot_pct|floatformat:1}}%</td><!-- needs calculation -->
                        <td>{{player.shot_eff|floatformat:1}}%</td><!-- needs calculation -->
                        <td>{{player.deflections}}</td>
                        <td>{{player.pims}}</td>
                        <td>{{player.plus_minus}}</td>
                        <td>{{player.hits}}</td>
                        <td>{{player.fow}}</td>
                        <td>{{player.fol}}</td>
                        <td>{{player.blocked_shots}}</td>
                        <td>{{player.interceptions}}</td>
                        <td>{{player.giveaways}}</td>
                        <td>{{player.takeaways}}</td>
                        <td>{{player.pens_drawn}}</td>
                        <td>{{player.pk_clears}}</td>
                        <td>{{player.ppg}}</td>
                        <td>{{player.shg}}</td>
                        <td>{{player.pass_pct|floatformat:1}}%</td><!-- needs calculation -->
                        <td>{{player.poss_time}}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan=25>No skater stats recorded. This shouldn't happen. Please contact the administrator.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </center></div>
        <div class="section_lg" style="align-items: auto; width: 90%; overflow-x: scroll; margin-bottom: 10px;"><center>
            <table class="statsbar betweenrows">
                <col style="width: 240px;"><!-- Player -->
                <col style="width: 80px;"><!-- Shots Against -->
                <col style="width: 80px;"><!-- Saves -->
                <col style="width: 80px;"><!-- SV% -->
                <col style="width: 80px;"><!-- GAA -->
                <col style="width: 80px;"><!-- Shutout -->
                <col style="width: 80px;"><!-- Win -->
                <col style="width: 80px;"><!-- Loss -->
                <col style="width: 80px;"><!-- Breakaway Shots Against -->
                <col style="width: 80px;"><!-- Breakaway Saves -->
                <col style="width: 80px;"><!-- Penalty Shots Against -->
                <col style="width: 80px;"><!-- Penalty Shot Saves -->
                <thead>
                    <tr>
                        <th>Goalie</th>
                        <th>Shots Against</th>
                        <th>Saves</th>
                        <th>SV%</th>
                        <th>GAA</th>
                        <th>Shutout</th>
                        <th>Win</th>
                        <th>Loss</th>
                        <th>Breakaway SA</th>
                        <th>Breakaway SV</th>
                        <th>PS SA</th>
                        <th>PS SV</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in a_goalie_records %}
                    <tr class="no-bg">
                        <td><a href="{% url 'player' player.ea_player_num.ea_player_num %}">{{ player.ea_player_num.username }}</a></td>
                        <td>{{player.shots_against}}</td>
                        <td>{{player.saves}}</td>
                        <td>{{player.save_pct|floatformat:1}}%</td>
                        <td>{{player.gaa|floatformat:2}}</td>
                        {% if player.shutout %}
                        <td>X</td>
                        {% else %}
                        <td>&nbsp;</td>
                        {% endif %}
                        {% if player.win %}
                        <td>X</td>
                        {% else %}
                        <td>&nbsp;</td>
                        {% endif %}
                        {% if player.loss or player.otloss %}
                        <td>X</td>
                        {% else %}
                        <td>&nbsp;</td>
                        {% endif %}
                        <td>{{player.breakaway_shots}}</td>
                        <td>{{player.breakaway_saves}}</td>
                        <td>{{player.ps_shots}}</td>
                        <td>{{player.ps_saves}}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan=25>No goalie stats recorded. This shouldn't happen. Please contact the administrator.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </center></div>
        <div id="divider"></div>
        <div class="header" style="color: #fbe134;">{{ game.h_team_num.club_full_name }}</div>
        <div class="section_lg" style="align-items: auto; width: 90%; overflow-x: scroll; margin-bottom: 10px;"><center>
            <table class="statsbar betweenrows">
                <col style="width: 240px;"><!-- Player -->
                <col style="width: 60px;"><!-- Pos -->
                <col style="width: 60px;"><!-- OVR -->
                <col style="width: 80px;"><!-- Build -->
                <col style="width: 60px;"><!-- G -->
                <col style="width: 60px;"><!-- A -->
                <col style="width: 60px;"><!-- PTS -->
                <col style="width: 60px;"><!-- S -->
                <col style="width: 80px;"><!-- S% -->
                <col style="width: 80px;"><!-- Shot Eff -->
                <col style="width: 60px;"><!-- Deflections -->
                <col style="width: 60px;"><!-- PIM -->
                <col style="width: 60px;"><!-- +/- -->
                <col style="width: 60px;"><!-- HITS -->
                <col style="width: 60px;"><!-- FOW -->
                <col style="width: 60px;"><!-- FOL -->
                <col style="width: 60px;"><!-- BS -->
                <col style="width: 60px;"><!-- INT -->
                <col style="width: 60px;"><!-- GVA -->
                <col style="width: 60px;"><!-- TKA -->
                <col style="width: 60px;"><!-- Pens Drawn -->
                <col style="width: 60px;"><!-- PK Clears -->
                <col style="width: 60px;"><!-- PPG -->
                <col style="width: 60px;"><!-- SHG -->
                <col style="width: 80px;"><!-- Pass% -->
                <col style="width: 80px;"><!-- Poss Time -->
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>Pos</th>
                        <th>OVR</th>
                        <th>Build</th>
                        <th>G</th>
                        <th>A</th>
                        <th>PTS</th>
                        <th>S</th>
                        <th>S%</th>
                        <th>Shot Eff</th>
                        <th>Dflct</th>
                        <th>PIM</th>
                        <th>+/-</th>
                        <th>HITS</th>
                        <th>FOW</th>
                        <th>FOL</th>
                        <th>BS</th>
                        <th>INT</th>
                        <th>GVA</th>
                        <th>TKA</th>
                        <th>Pens Drawn</th>
                        <th>PK Clears</th>
                        <th>PPG</th>
                        <th>SHG</th>
                        <th>Pass%</th>
                        <th>Poss (sec)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in h_skater_records %}
                    <tr class="no-bg">
                        <td class="hoverlink"><a href="{% url 'player' player.ea_player_num.ea_player_num %}">{{ player.ea_player_num.username }}</a></td>
                        <td>{{player.position.positionShort}}</td>
                        <td class="meta-rating" data-rating="{{player.gameskaterrating.overall_rating}}" style="border-radius: 0;">{{ player.gameskaterrating.overall_rating|floatformat:0|default:"-" }}</td>
                        <td>{{player.build.buildShort}}</td>
                        <td>{{player.goals}}</td>
                        <td>{{player.assists}}</td>
                        <td>{{player.points}}</td>
                        <td>{{player.sog}}</td>
                        <td>{{player.shot_pct|floatformat:1}}%</td><!-- needs calculation -->
                        <td>{{player.shot_eff|floatformat:1}}%</td><!-- needs calculation -->
                        <td>{{player.deflections}}</td>
                        <td>{{player.pims}}</td>
                        <td>{{player.plus_minus}}</td>
                        <td>{{player.hits}}</td>
                        <td>{{player.fow}}</td>
                        <td>{{player.fol}}</td>
                        <td>{{player.blocked_shots}}</td>
                        <td>{{player.interceptions}}</td>
                        <td>{{player.giveaways}}</td>
                        <td>{{player.takeaways}}</td>
                        <td>{{player.pens_drawn}}</td>
                        <td>{{player.pk_clears}}</td>
                        <td>{{player.ppg}}</td>
                        <td>{{player.shg}}</td>
                        <td>{{player.pass_pct|floatformat:1}}%</td><!-- needs calculation -->
                        <td>{{player.poss_time}}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan=25>No skater stats recorded. This shouldn't happen. Please contact the administrator.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </center></div>
        <div class="section_lg" style="align-items: auto; width: 90%; overflow-x: scroll; margin-bottom: 10px;"><center>
            <table class="statsbar betweenrows">
                <col style="width: 240px;"><!-- Player -->
                <col style="width: 80px;"><!-- Shots Against -->
                <col style="width: 80px;"><!-- Saves -->
                <col style="width: 80px;"><!-- SV% -->
                <col style="width: 80px;"><!-- GAA -->
                <col style="width: 80px;"><!-- Shutout -->
                <col style="width: 80px;"><!-- Win -->
                <col style="width: 80px;"><!-- Loss -->
                <col style="width: 80px;"><!-- Breakaway Shots Against -->
                <col style="width: 80px;"><!-- Breakaway Saves -->
                <col style="width: 80px;"><!-- Penalty Shots Against -->
                <col style="width: 80px;"><!-- Penalty Shot Saves -->
                <thead>
                    <tr>
                        <th>Goalie</th>
                        <th>Shots Against</th>
                        <th>Saves</th>
                        <th>SV%</th>
                        <th>GAA</th>
                        <th>Shutout</th>
                        <th>Win</th>
                        <th>Loss</th>
                        <th>Breakaway SA</th>
                        <th>Breakaway SV</th>
                        <th>PS SA</th>
                        <th>PS SV</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in h_goalie_records %}
                    <tr class="no-bg">
                        <td><a href="{% url 'player' player.ea_player_num.ea_player_num %}">{{ player.ea_player_num.username }}</a></td>
                        <td>{{player.shots_against}}</td>
                        <td>{{player.saves}}</td>
                        <td>{{player.save_pct|floatformat:1}}%</td>
                        <td>{{player.gaa|floatformat:2}}</td>
                        {% if player.shutout %}
                        <td>X</td>
                        {% else %}
                        <td>&nbsp;</td>
                        {% endif %}
                        {% if player.win %}
                        <td>X</td>
                        {% else %}
                        <td>&nbsp;</td>
                        {% endif %}
                        {% if player.loss or player.otloss %}
                        <td>X</td>
                        {% else %}
                        <td>&nbsp;</td>
                        {% endif %}
                        <td>{{player.breakaway_shots}}</td>
                        <td>{{player.breakaway_saves}}</td>
                        <td>{{player.ps_shots}}</td>
                        <td>{{player.ps_saves}}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan=25>No goalie stats recorded. This shouldn't happen. Please contact the administrator.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </center></div>
    </center></div>
</center>
<script>
    function getGradientColor(value) {
      value = Math.max(0, Math.min(100, value)); // clamp between 0-100
    
      if (value < 50) {
        // Red to White
        let ratio = value / 50;
        let r = 255;
        let g = Math.round(255 * ratio);
        let b = Math.round(255 * ratio);
        return `rgb(${r},${g},${b})`;
      } else {
        // White to Blue
        let ratio = (value - 50) / 50;
        let r = Math.round(255 * (1 - ratio));
        let g = Math.round(255 * (1 - ratio));
        let b = 255;
        return `rgb(${r},${g},${b})`;
      }
    }
    
    document.querySelectorAll('.meta-rating').forEach(el => {
      const val = parseFloat(el.dataset.rating);
      if (!isNaN(val)) {
        el.style.backgroundColor = getGradientColor(val);
      }
    });
</script>
{% endblock %}