{% extends 'GHLWebsiteApp/layout.html' %}
{% load static %}
{% block body %}
  <center>
    <div class="section section_lg">
      <center>
      <div class="header">Goalie Stats: Season 8</div>
      <table id="fullstandings">
        <col style="width: 60px;">
        <col style="width: 300px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <tr>
            <th>Pos</th>
            <th>Player</th>
            <th>Team</th>
            <th>GP</th>
            <th>SH</th>
            <th>GA</th>
            <th>SV</th>
            <th>SV%</th>
            <th>GAA</th>
            <th>SO</th>
            <th>W</th>
            <th>L</th>
            <th>OTL</th>
            <th>G</th>
            <th>A</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Beernuts83</td>
          <td>NYR</td>
          <td>34</td>
          <td>785</td>
          <td>136</td>
          <td>649</td>
          <td>82.7%</td>
          <td>3.81</td>
          <td>1</td>
          <td>7</td>
          <td>23</td>
          <td>4</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td>2</td>
          <td>BigDaddyOdin</td>
          <td>PHI</td>
          <td>51</td>
          <td>633</td>
          <td>114</td>
          <td>519</td>
          <td>82.0%</td>
          <td>2.22</td>
          <td>7</td>
          <td>45</td>
          <td>4</td>
          <td>1</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td>3</td>
          <td>bubbaman115</td>
          <td>PHI</td>
          <td>51</td>
          <td>633</td>
          <td>114</td>
          <td>519</td>
          <td>82.0%</td>
          <td>2.22</td>
          <td>7</td>
          <td>45</td>
          <td>4</td>
          <td>1</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td>4</td>
          <td>BurLsda</td>
          <td>ATL</td>
          <td>51</td>
          <td>633</td>
          <td>114</td>
          <td>519</td>
          <td>82.0%</td>
          <td>2.22</td>
          <td>0</td>
          <td>45</td>
          <td>4</td>
          <td>1</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td>5</td>
          <td>DrunkenComb393</td>
          <td>UTA</td>
          <td>51</td>
          <td>633</td>
          <td>114</td>
          <td>519</td>
          <td>82.0%</td>
          <td>2.22</td>
          <td>7</td>
          <td>45</td>
          <td>4</td>
          <td>1</td>
          <td>0</td>
          <td>0</td>
        </tr>
      </table>
      </center>
    </div>
  </center>

{% endblock %}