{% extends 'GHLWebsiteApp/layout.html' %}
{% load static %}
{% block body %}
  <center>
    <div class="section section_lg">
      <center>
      <div class="header">Goalie Stats: Season 8</div>
      <table id="fullstandings" class="sortable">
        <col style="width: 60px;">
        <col style="width: 300px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <tr>
          <th>Pos</th>
          <th>Player</th>
          <th>Team</th>
          <th>GP</th>
          <th>SH</th>
          <th>GA</th>
          <th>SV</th>
          <th>SV%</th>
          <th>GAA</th>
          <th>SO</th>
          <th>W</th>
          <th>L</th>
          <th>OTL</th>
        </tr>
        {% for goalie in all_goalies %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td><a href="{% url 'player' goalie.ea_player_num.ea_player_num %}">{{ goalie.ea_player_num }}</a></td>
          <td>{{ goalie.ea_player_num.current_team }}</td>
          <td>{{ goalie.goaliesgp }}</td>
          <td>{{ goalie.goaliesshots }}</td>
          <td>{{ goalie.goaliesga }}</td>
          <td>{{ goalie.goaliessaves }}</td>
          <td>{{ goalie.goaliessvp|floatformat:1 }}%</td>
          <td>{{ goalie.goaliesgaa|floatformat:2 }}</td>
          <td>{{ goalie.goaliesshutouts }}</td>
          <td>{{ goalie.goalieswins }}</td>
          <td>{{ goalie.goalieslosses }}</td>
          <td>{{ goalie.goaliesotlosses }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan=13>No games recorded.</td>
        </tr>
        {% endfor %}
      </table>
      </center>
    </div>
  </center>

{% endblock %}