{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
	<title>Gamers Hockey League</title>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<meta name="keywords" content="xbox, gaming, game, sports, league, leagues, hockey, nhl, ea, statistics, mature, competition, compete, respect, eashl, chel" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
	<link href="{% static 'GHLWebsiteApp/mainstyle.css' %}" rel="stylesheet" type="text/css" />
	<script src="{% static 'GHLWebsiteApp/sortable.js'  %}"></script>
</head>

<body>
	<main>
		<div id="fakescoreboard"><!-- TODO: Scoreboard and Navigation will go here --><center>FUTURE SCOREBOARD</center></div>
		<center>
			<div id="menu">
				<a href="{% url 'index' %}">Home</a> | 
				<a href="{% url 'standings' %}">Standings</a> | 
				<a href="{% url 'leaders' %}">League Leaders</a> | 
				<a href="{% url 'skaters' %}">Skater Stats</a> | 
				<a href="{% url 'goalies' %}">Goalie Stats</a> | 
				<!-- <a href="{% url 'draft' %}">Draft</a> | -->
				<a href="{% url 'awardsDef' %}">Awards</a>
			</div>
		</center>
		<div id="divider"></div>
		
		{% block body %}
		{% endblock %}
				
	</main>
</body>
<footer>
	<center><div id="copyright">&#169 2025 GHL, All Rights Reserved</div></center>
</footer>
</html>