{% extends "GHLWebsiteApp/layout.html" %}

{% block body %}
<center>
    <div class="section section_lg"><center>
        <h1>League Leaders</h1>
        <table>
            <col style="width: 25%;">
            <col style="width: 25%;">
            <col style="width: 25%;">
            <col style="width: 25%;">
            <tbody>
                <tr class="no-bg">
                    <td>
                        <div class="subsection-container">
                            <center><table class="standingstable">
                                <col style="width: 50px;">
                                <col style="width: 150px;">
                                <col style="width: 50px;">
                                <col style="width: 50px;">
                                <tr>
                                    <th colspan=4>Points</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>JBrewer23</td>
                                    <td>ATL</td>
                                    <td class="points">153</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>FloppyWha1eMeat</td>
                                    <td>PHI</td>
                                    <td class="points">150</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>OG LarryBird</td>
                                    <td>TOR</td>
                                    <td class="points">137</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Zev</td>
                                    <td>TOR</td>
                                    <td class="points">132</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>MikeV</td>
                                    <td>PHI</td>
                                    <td class="points">132</td>
                                </tr>
                            </table></center>
                        </div>
                        <div class="subsection-container">
                            <center><table class="standingstable">
                                <col style="width: 50px;">
                                <col style="width: 150px;">
                                <col style="width: 50px;">
                                <col style="width: 50px;">
                                <tr>
                                    <th colspan=4>Assists</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>JBrewer23</td>
                                    <td>ATL</td>
                                    <td class="points">91</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>tehFroster</td>
                                    <td>TOR</td>
                                    <td class="points">82</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Dizybone24</td>
                                    <td>DET</td>
                                    <td class="points">79</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>MikeV</td>
                                    <td>PHI</td>
                                    <td class="points">78</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Zev</td>
                                    <td>TOR</td>
                                    <td class="points">71</td>
                                </tr>
                            </table></center>
                        </div>
                    </td>
                    <td>
                        <div class="subsection-container">
                            <center><table class="standingstable">
                                <col style="width: 50px;">
                                <col style="width: 150px;">
                                <col style="width: 50px;">
                                <col style="width: 50px;">
                                <tr>
                                    <th colspan=4>Goals</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>FloppyWha1eMeat</td>
                                    <td>PHI</td>
                                    <td class="points">86</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>OG LarryBird</td>
                                    <td>TOR</td>
                                    <td class="points">85</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Jehtie</td>
                                    <td>UTA</td>
                                    <td class="points">62</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>JBrewer23</td>
                                    <td>ATL</td>
                                    <td class="points">62</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Zev</td>
                                    <td>PHI</td>
                                    <td class="points">61</td>
                                </tr>
                            </table></center>
                        </div>
                        <div class="subsection-container">
                            <center><table class="standingstable">
                                <col style="width: 50px;">
                                <col style="width: 150px;">
                                <col style="width: 50px;">
                                <col style="width: 50px;">
                                <tr>
                                    <th colspan=4>Shooting %</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>JBrewer23</td>
                                    <td>ATL</td>
                                    <td class="points">99.9%</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>tehFroster</td>
                                    <td>TOR</td>
                                    <td class="points">82.7%</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Dizybone24</td>
                                    <td>DET</td>
                                    <td class="points">79.5%</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>MikeV</td>
                                    <td>PHI</td>
                                    <td class="points">78.2%</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Zev</td>
                                    <td>TOR</td>
                                    <td class="points">71.7%</td>
                                </tr>
                            </table></center>
                        </div>
                    </td>
                    <td>
                        <div class="subsection-container">
                            <center><table class="standingstable">
                                <col style="width: 50px;">
                                <col style="width: 150px;">
                                <col style="width: 50px;">
                                <col style="width: 50px;">
                                <tr>
                                    <th colspan=4>Points</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>JBrewer23</td>
                                    <td>ATL</td>
                                    <td class="points">153</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>FloppyWha1eMeat</td>
                                    <td>PHI</td>
                                    <td class="points">150</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>OG LarryBird</td>
                                    <td>TOR</td>
                                    <td class="points">137</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Zev</td>
                                    <td>TOR</td>
                                    <td class="points">132</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>MikeV</td>
                                    <td>PHI</td>
                                    <td class="points">132</td>
                                </tr>
                            </table></center>
                        </div>
                        <div class="subsection-container">
                            <center><table class="standingstable">
                                <col style="width: 50px;">
                                <col style="width: 150px;">
                                <col style="width: 50px;">
                                <col style="width: 50px;">
                                <tr>
                                    <th colspan=4>Assists</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>JBrewer23</td>
                                    <td>ATL</td>
                                    <td class="points">91</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>tehFroster</td>
                                    <td>TOR</td>
                                    <td class="points">82</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Dizybone24</td>
                                    <td>DET</td>
                                    <td class="points">79</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>MikeV</td>
                                    <td>PHI</td>
                                    <td class="points">78</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Zev</td>
                                    <td>TOR</td>
                                    <td class="points">71</td>
                                </tr>
                            </table></center>
                        </div>
                    </td>
                    <td>
                        <div class="subsection-container">
                            <center><table class="standingstable">
                                <col style="width: 50px;">
                                <col style="width: 150px;">
                                <col style="width: 50px;">
                                <col style="width: 50px;">
                                <tr>
                                    <th colspan=4>Goals</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>FloppyWha1eMeat</td>
                                    <td>PHI</td>
                                    <td class="points">86</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>OG LarryBird</td>
                                    <td>TOR</td>
                                    <td class="points">85</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Jehtie</td>
                                    <td>UTA</td>
                                    <td class="points">62</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>JBrewer23</td>
                                    <td>ATL</td>
                                    <td class="points">62</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Zev</td>
                                    <td>PHI</td>
                                    <td class="points">61</td>
                                </tr>
                            </table></center>
                        </div>
                        <div class="subsection-container">
                            <center><table class="standingstable">
                                <col style="width: 50px;">
                                <col style="width: 150px;">
                                <col style="width: 50px;">
                                <col style="width: 50px;">
                                <tr>
                                    <th colspan=4>Shooting %</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>JBrewer23</td>
                                    <td>ATL</td>
                                    <td class="points">99.9%</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>tehFroster</td>
                                    <td>TOR</td>
                                    <td class="points">82.7%</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Dizybone24</td>
                                    <td>DET</td>
                                    <td class="points">79.5%</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>MikeV</td>
                                    <td>PHI</td>
                                    <td class="points">78.2%</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Zev</td>
                                    <td>TOR</td>
                                    <td class="points">71.7%</td>
                                </tr>
                            </table></center>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </center></div>
</center>
{% endblock %}