{% extends "GHLWebsiteApp/layout.html" %}

{% block body %}
<center>
    <div class="section section_lg"><center>
        <h1>League Leaders</h1>
        <table>
            <col style="width: 25%;">
            <col style="width: 25%;">
            <col style="width: 25%;">
            <col style="width: 25%;">
            <tbody>
                <tr class="no-bg">
                    <td>
                        <div class="subsection-container">
                            <center><table class="standingstable">
                                <col style="width: 50px;">
                                <col style="width: 150px;">
                                <col style="width: 50px;">
                                <col style="width: 50px;">
                                <tr>
                                    <th colspan=4>Points</th>
                                </tr>
                                {% for player in leaders_points %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ player.ea_player_num }}</td>
                                    <td>TEAM</td>
                                    <td class="points">{{ player.numpoints }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4">No points recorded.</td>
                                </tr>
                                {% endfor %}
                            </table></center>
                        </div>
                        <div class="subsection-container">
                            <center><table class="standingstable">
                                <col style="width: 50px;">
                                <col style="width: 150px;">
                                <col style="width: 50px;">
                                <col style="width: 50px;">
                                <tr>
                                    <th colspan=4>Wins</th>
                                </tr>
                                {% for player in leaders_wins %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ player.ea_player_num }}</td>
                                    <td>TEAM</td>
                                    <td class="points">0</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4">No wins recorded.</td>
                                </tr>
                                {% endfor %}
                            </table></center>
                        </div>
                    </td>
                    <td>
                        <div class="subsection-container">
                            <center><table class="standingstable">
                                <col style="width: 50px;">
                                <col style="width: 150px;">
                                <col style="width: 50px;">
                                <col style="width: 50px;">
                                <tr>
                                    <th colspan=4>Goals</th>
                                </tr>
                                {% for player in leaders_goals %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ player.ea_player_num }}</td>
                                    <td>TEAM</td>
                                    <td class="points">{{ player.numgoals }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4">No goals recorded.</td>
                                </tr>
                                {% endfor %}
                            </table></center>
                        </div>
                        <div class="subsection-container">
                            <center><table class="standingstable">
                                <col style="width: 50px;">
                                <col style="width: 150px;">
                                <col style="width: 50px;">
                                <col style="width: 50px;">
                                <tr>
                                    <th colspan=4>Save %</th>
                                </tr>
                                {% for player in leaders_svp %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ player.ea_player_num }}</td>
                                    <td>TEAM</td>
                                    <td class="points">{{ player.savepercsum|floatformat:1 }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4">No saves recorded.</td>
                                </tr>
                                {% endfor %}
                            </table></center>
                        </div>
                    </td>
                    <td>
                        <div class="subsection-container">
                            <center><table class="standingstable">
                                <col style="width: 50px;">
                                <col style="width: 150px;">
                                <col style="width: 50px;">
                                <col style="width: 50px;">
                                <tr>
                                    <th colspan=4>Assists</th>
                                </tr>
                                <tr>
                                    {% for player in leaders_assists %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ player.ea_player_num }}</td>
                                        <td>TEAM</td>
                                        <td class="points">{{ player.numassists }}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="4">No assists recorded.</td>
                                    </tr>
                                    {% endfor %}
                            </table></center>
                        </div>
                        <div class="subsection-container">
                            <center><table class="standingstable">
                                <col style="width: 50px;">
                                <col style="width: 150px;">
                                <col style="width: 50px;">
                                <col style="width: 50px;">
                                <tr>
                                    <th colspan=4>GAA</th>
                                </tr>
                                {% for player in leaders_gaa %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ player.ea_player_num }}</td>
                                    <td>TEAM</td>
                                    <td class="points">0</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4">No games recorded.</td>
                                </tr>
                                {% endfor %}
                            </table></center>
                        </div>
                    </td>
                    <td>
                        <div class="subsection-container">
                            <center><table class="standingstable">
                                <col style="width: 50px;">
                                <col style="width: 150px;">
                                <col style="width: 50px;">
                                <col style="width: 50px;">
                                <tr>
                                    <th colspan=4>Shooting %</th>
                                </tr>
                                {% for player in leaders_shooting %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ player.ea_player_num }}</td>
                                    <td>TEAM</td>
                                    <td class="points">{{ player.shootperc|floatformat:1 }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4">No shots recorded.</td>
                                </tr>
                                {% endfor %}
                            </table></center>
                        </div>
                        <div class="subsection-container">
                            <center><table class="standingstable">
                                <col style="width: 50px;">
                                <col style="width: 150px;">
                                <col style="width: 50px;">
                                <col style="width: 50px;">
                                <tr>
                                    <th colspan=4>Shutouts</th>
                                </tr>
                                {% for player in leaders_shutouts %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ player.ea_player_num }}</td>
                                    <td>TEAM</td>
                                    <td class="points">{{ player.true_count }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4">No shutouts recorded.</td>
                                </tr>
                                {% endfor %}
                            </table></center>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </center></div>
</center>
{% endblock %}