{% extends "GHLWebsiteApp/layout.html" %}
{% block title %} - Manager Dashboard{% endblock %}

{% block body %}
<div class="section section_lg" style="place-self: center; width: 95vw;">
    <div class="dashboard-container">
        <div class="dashboard-header">
            <img src="{{ team.team_logo_link }}" alt="Team Logo" class="team-logo">
            <h1 class="team-name">{{ team.club_full_name }} ({{ my_standing.wins }}-{{ my_standing.losses}}-{{my_standing.otlosses}})</h1>
        </div>

        <div class="dashboard-grid">
            <!-- LEFT COLUMN -->
            <div class="dashboard-column">
                <div class="dashboard-panel">
                    <h2>Team Availability</h2>
                    <a href="{% url 'team_scheduling' %}"><i>Click here to schedule your team for the week.</i></a>
                    {% if availability %}
                        <h3>For Week Starting {{ availability.first.week_start|date:"D, M j" }}</h3>
                        <table class="standingstable" style="width: 95%;">
                            <thead>
                                <tr>
                                    <th>Player</th>
                                    <th>Sun</th>
                                    <th>Mon</th>
                                    <th>Tue</th>
                                    <th>Wed</th>
                                    <th>Thu</th>
                                    <th>Comment</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for avail in availability %}
                                <tr>
                                    <td>{{ avail.player.username }}</td>
                                    <td>{% if avail.sunday %}✔️{% else %}-{% endif %}</td>
                                    <td>{% if avail.monday %}✔️{% else %}-{% endif %}</td>
                                    <td>{% if avail.tuesday %}✔️{% else %}-{% endif %}</td>
                                    <td>{% if avail.wednesday %}✔️{% else %}-{% endif %}</td>
                                    <td>{% if avail.thursday %}✔️{% else %}-{% endif %}</td>
                                    <td style="text-wrap: wrap;">{{ avail.comment }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No availability submitted yet for this week.</p>
                    {% endif %}
                </div>

                <div class="dashboard-panel">
                    <h2>Team Needs</h2>
                    <p>Set up your team's needs for being interested in a trade.</p>
                </div>

                <div class="dashboard-panel">
                    <h2>Trade Block</h2>
                    <p>Players listed on the trade block go here - including both your team and other teams.</p>
                </div>
            </div>

            <!-- RIGHT COLUMN -->
            <div class="dashboard-column">

                <div class="dashboard-panel">
                    <h2>Next Ten Games</h2>
                    <table class="standingstable">
                        <thead>
                            <th>Date</th>
                            <th>Opponent</th>
                            <th>Home/Away</th>
                            <th>Search Code</th>
                        </th>
                        <tbody>
                            {% for game in upcoming_games %}
                            <tr>
                                <td>{{ game.expected_time|date:"D n/j" }}</td>
                                <td class="hoverlink">
                                    {% if game.h_team_num == team %}
                                        vs <img src="{{ game.a_team_num.team_logo_link }}" height=16 width=16 /> <a href="{% url 'team' game.a_team_num.ea_club_num %}">{{ game.a_team_num.club_full_name }}</a>
                                    {% else %}
                                        @ <img src="{{ game.h_team_num.team_logo_link }}" height=16 width=16 /> <a href="{% url 'team' game.h_team_num.ea_club_num %}">{{ game.h_team_num.club_full_name }}</a>
                                    {% endif %}
                                </td>
                                {% if game.h_team_num == team %}
                                    <td style="color:rgb(128, 128, 128); font-style: italic;">Home</td>
                                {% else %}
                                    <td>Away</td>
                                {% endif %}
                                <td{% if game.h_team_num == team %} style="color:rgb(128, 128, 128); font-style: italic;"{% endif %}>
                                    {{ game.h_team_num.team_code|default:"-" }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="dashboard-panel">
                    <h2>Team Leaders</h2>
                    <table class="standingstable">
                        <colgroup>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Label</th>
                                <th>Player</th>
                                <th>Stat</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for label, leader in team_leaders.items %}
                            <tr>
                                <td>{{ label }}</td>
                                <td class="hoverlink"><a href="{% url 'player' leader.ea_player_num %}">{{ leader.ea_player_num__username|default:"-" }}</a></td>
                                <td>
                                    {% if label == "G" %}
                                        {{ leader.numgoals|default:"-" }}
                                    {% elif label == "A" %}
                                        {{ leader.numassists|default:"-" }}
                                    {% elif label == "P" %}
                                        {{ leader.numpoints|default:"-" }}
                                    {% elif label == "S%" %}
                                        {{ leader.shootperc|floatformat:2|default:"-" }}%
                                    {% elif label == "PIM" %}
                                        {{ leader.pim|default:"-" }}
                                    {% elif label == "HIT" %}
                                        {{ leader.hits_per_game|floatformat:2|default:"-" }} / game
                                    {% elif label == "BLK" %}
                                        {{ leader.blocks_per_game|floatformat:2|default:"-" }} / game
                                    {% elif label == "SV%" %}
                                        {{ leader.savepercsum|floatformat:2|default:"-" }}%
                                    {% elif label == "GAA" %}
                                        {{ leader.gaa|floatformat:2|default:"-" }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="dashboard-panel">
                    <h2>League Standings</h2>
                    {% if not season.season_type == "playoffs" %}
                    <table class="standingstable">
                        <colgroup>
                            <col style="width: 60px">
                            <col style="width: 35px">
                            <col style="width: 35px">
                            <col style="width: 35px">
                            <col style="width: 35px">
                            <col style="width: 35px">
                            <col style="width: 35px">
                            <col style="width: 35px">
                            <col style="width: 35px">
                            <col style="width: 35px">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Team</th>
                                <th>GP</th>
                                <th>W</th>
                                <th>L</th>
                                <th>OTL</th>
                                <th>PP%</th>
                                <th>PK%</th>
                                <th>L10</th>
                                <th>Str</th>
                                <th>PTS</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for standing in standings %}
                            <tr{% if standing.team == team %} style="background-color: #78620a;"{% endif %}>
                                <td class="hoverlink"><a href="{% url 'team' standing.team.ea_club_num %}">{{ standing.team.club_abbr }}</a></td>
                                <td>{{ standing.gp }}</td>
                                <td>{{ standing.wins }}</td>
                                <td>{{ standing.losses }}</td>
                                <td>{{ standing.otlosses }}</td>
                                <td>{{ standing.ppperc|floatformat:2 }}%</td>
                                <td>{{ standing.pkperc|floatformat:2 }}%</td>
                                <td>{{ standing.lastten }}</td>
                                <td>{{ standing.streak }}</td>
                                <td class="points">{{ standing.points }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <a href="{% url 'standings' %}" style="text-decoration: none;">Click here for playoff tree</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
