{% extends "GHLWebsiteApp/layout.html" %}
{% load static %}
{% block body %}
<center>
    <div class="section section_lg"><center>
        <div class="subsection-container">
            <div class="player-header">
                <div class="player-photo">
                    <img src="{% static 'GHLWebsiteApp/stock-user-photo.jpg' %}" width="220" height="220" />
                </div>
                <div class="player-name">
                    {{ playernum.username }}
                </div>
                <div class="player-logo">
                    <a href="{% url 'team' playernum.current_team.ea_club_num %}">
                        <img src="{{ playernum.current_team.team_logo_link }}" width="220" height="220" />
                    </a>
                </div>
            </div>
        </div>
        {% if skater_season_totals %}
        <div class="subsection-container" style="width: 100%;">
            <div class="statsbar-cards">
                {% for season in skater_season_totals %}
                {% if forloop.first %}
                <div class="stat-card">
                    <div class="stat-abbr">GP</div>
                    <div class="stat-value">{{ season.sk_gp }}</div>
                    <div class="stat-label">games played</div>
                </div>
                <div class="stat-card">
                    <div class="stat-abbr">G</div>
                    <div class="stat-value">{{ season.sk_g }}</div>
                    <div class="stat-label">goals</div>
                </div>
                <div class="stat-card">
                    <div class="stat-abbr">A</div>
                    <div class="stat-value">{{ season.sk_a }}</div>
                    <div class="stat-label">assists</div>
                </div>
                <div class="stat-card">
                    <div class="stat-abbr">P</div>
                    <div class="stat-value">{{ season.sk_p }}</div>
                    <div class="stat-label">points</div>
                </div>
                <div class="stat-card">
                    <div class="stat-abbr">Hits</div>
                    <div class="stat-value">{{ season.sk_hits }}</div>
                    <div class="stat-label">hits</div>
                </div>
                <div class="stat-card">
                    <div class="stat-abbr">+/-</div>
                    <div class="stat-value">{{ season.sk_plus_minus }}</div>
                    <div class="stat-label">plus / minus</div>
                </div>
                <div class="stat-card">
                    <div class="stat-abbr">PIMs</div>
                    <div class="stat-value">{{ season.sk_pims }}</div>
                    <div class="stat-label">penalty minutes</div>
                </div>
                <div class="stat-card">
                    <div class="stat-abbr">Drawn</div>
                    <div class="stat-value">{{ season.sk_pens_drawn }}</div>
                    <div class="stat-label">penalties drawn</div>
                </div>
                <div class="stat-card">
                    <div class="stat-abbr">PK Clear</div>
                    <div class="stat-value">{{ season.sk_pk_clears }}</div>
                    <div class="stat-label">pk clears</div>
                </div>
                <div class="stat-card">
                    <div class="stat-abbr">S</div>
                    <div class="stat-value">{{ season.sk_sog }}</div>
                    <div class="stat-label">shots</div>
                </div>
                <div class="stat-card">
                    <div class="stat-abbr">S %</div>
                    <div class="stat-value">{{ season.sk_shot_perc|floatformat:1 }}</div>
                    <div class="stat-label">shooting percentage</div>
                </div>
                <div class="stat-card">
                    <div class="stat-abbr">S Eff</div>
                    <div class="stat-value">{{ season.sk_shot_eff|floatformat:1 }}</div>
                    <div class="stat-label">shooting efficiency</div>
                </div>
                <div class="stat-card">
                    <div class="stat-abbr">PPG</div>
                    <div class="stat-value">{{ season.sk_ppg }}</div>
                    <div class="stat-label">powerplay goals</div>
                </div>
                <div class="stat-card">
                    <div class="stat-abbr">SHG</div>
                    <div class="stat-value">{{ season.sk_shg }}</div>
                    <div class="stat-label">shorthanded goals</div>
                </div>
                <div class="stat-card">
                    <div class="stat-abbr">Pass %</div>
                    <div class="stat-value">{{ season.sk_pass_perc|floatformat:1 }}</div>
                    <div class="stat-label">passing percentage</div>
                </div>
                <div class="stat-card">
                    <div class="stat-abbr">BS</div>
                    <div class="stat-value">{{ season.sk_bs }}</div>
                    <div class="stat-label">blocked shots</div>
                </div>
                <div class="stat-card">
                    <div class="stat-abbr">TK</div>
                    <div class="stat-value">{{ season.sk_tk }}</div>
                    <div class="stat-label">takeaways</div>
                </div>
                <div class="stat-card">
                    <div class="stat-abbr">INT</div>
                    <div class="stat-value">{{ season.sk_int }}</div>
                    <div class="stat-label">interceptions</div>
                </div>
                <div class="stat-card">
                    <div class="stat-abbr">GVA</div>
                    <div class="stat-value">{{ season.sk_gva }}</div>
                    <div class="stat-label">giveaways</div>
                </div>
                <div class="stat-card">
                    <div class="stat-abbr">TOP</div>
                    <div class="stat-value">{{ season.sk_poss_time|floatformat:1 }}</div>
                    <div class="stat-label">avg sec of possession</div>
                </div>
                <div class="stat-card">
                    <div class="stat-abbr">FO%</div>
                    <div class="stat-value">{{ season.sk_fo_perc|floatformat:1 }}</div>
                    <div class="stat-label">faceoff percentage</div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="statsbar-desktop"><table class="statsbar">
                <colgroup>
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                </colgroup>
                <thead>
                    <tr>
                        <th>GP</th>
                        <th>G</th>
                        <th>A</th>
                        <th>P</th>
                        <th>Hits</th>
                        <th>+/-</th>
                        <th>PIMs</th>
                        <th>Drawn</th>
                        <th>PK Clear</th>
                        <th>S</th>
                        <th>S %</th>
                        <th>S Eff</th>
                        <th>PPG</th>
                        <th>SHG</th>
                        <th>Pass %</th>
                        <th>BS</th>
                        <th>TK</th>
                        <th>INT</th>
                        <th>GVA</th>
                        <th>TOP</th>
                        <th>FO%</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="no-bg statline">
                        {% for season in skater_season_totals %}
                        {% if forloop.first %}
                        <td>{{ season.sk_gp }}</td>
                        <td>{{ season.sk_g }}</td>
                        <td>{{ season.sk_a }}</td>
                        <td>{{ season.sk_p }}</td>
                        <td>{{ season.sk_hits }}</td>
                        <td>{{ season.sk_plus_minus }}</td>
                        <td>{{ season.sk_pims }}</td>
                        <td>{{ season.sk_pens_drawn }}</td>
                        <td>{{ season.sk_pk_clears }}</td>
                        <td>{{ season.sk_sog }}</td>
                        <td>{{ season.sk_shot_perc|floatformat:1 }}</td>
                        <td>{{ season.sk_shot_eff|floatformat:1 }}</td>
                        <td>{{ season.sk_ppg }}</td>
                        <td>{{ season.sk_shg }}</td>
                        <td>{{ season.sk_pass_perc|floatformat:1 }}</td>
                        <td>{{ season.sk_bs }}</td>
                        <td>{{ season.sk_tk }}</td>
                        <td>{{ season.sk_int }}</td>
                        <td>{{ season.sk_gva }}</td>
                        <td>{{ season.sk_poss_time|floatformat:1 }}</td>
                        <td>{{ season.sk_fo_perc|floatformat:1|default_if_none:"-" }}</td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    <tr class="descriptor">
                        <td>games played</td>
                        <td>goals</td>
                        <td>assists</td>
                        <td>points</td>
                        <td>hits</td>
                        <td>plus / minus</td>
                        <td>penalty minutes</td>
                        <td>penalties drawn</td>
                        <td>pk clears</td>
                        <td>shots</td>
                        <td>shooting percentage</td>
                        <td>shooting efficiency</td>
                        <td>powerplay goals</td>
                        <td>shorthanded goals</td>
                        <td>passing percentage</td>
                        <td>blocked shots</td>
                        <td>takeaways</td>
                        <td>interceptions</td>
                        <td>giveaways</td>
                        <td>avg sec of possession</td>
                        <td>faceoff percentage</td>
                    </tr>
                </tbody>
            </div></table>
        </div>
        {% endif %}
        {% if goalie_season_totals %}
        <div class="subsection-container" style="width: 100%;">
            <div class="statsbar-cards">
                {% for season in goalie_season_totals %}
                {% if forloop.first %}
                <div class="stat-card">
                    <div class="stat-abbr">GP</div>
                    <div class="stat-value">{{ season.g_gp }}</div>
                    <div class="stat-label">games played</div>
                </div>
                <div class="stat-card">
                    <div class="stat-abbr">W</div>
                    <div class="stat-value">{{ season.g_wins }}</div>
                    <div class="stat-label">wins</div>
                </div>
                <div class="stat-card">
                    <div class="stat-abbr">L</div>
                    <div class="stat-value">{{ season.g_losses }}</div>
                    <div class="stat-label">losses</div>
                </div>
                <div class="stat-card">
                    <div class="stat-abbr">OTL</div>
                    <div class="stat-value">{{ season.g_otlosses }}</div>
                    <div class="stat-label">overtime losses</div>
                </div>
                <div class="stat-card">
                    <div class="stat-abbr">GA</div>
                    <div class="stat-value">{{ season.g_ga }}</div>
                    <div class="stat-label">goals against</div>
                </div>
                <div class="stat-card">
                    <div class="stat-abbr">SH</div>
                    <div class="stat-value">{{ season.g_sha }}</div>
                    <div class="stat-label">shots against</div>
                </div>
                <div class="stat-card">
                    <div class="stat-abbr">SV%</div>
                    <div class="stat-value">{{ season.g_svp|floatformat:1 }}</div>
                    <div class="stat-label">save percentage</div>
                </div>
                <div class="stat-card">
                    <div class="stat-abbr">GAA</div>
                    <div class="stat-value">{{ season.g_gaa|floatformat:2 }}</div>
                    <div class="stat-label">goals against average</div>
                </div>
                <div class="stat-card">
                    <div class="stat-abbr">SO</div>
                    <div class="stat-value">{{ season.g.so }}</div>
                    <div class="stat-label">shutouts</div>
                </div>
                <div class="stat-card">
                    <div class="stat-abbr">PS</div>
                    <div class="stat-value">{{ season.g_ps_sh }}</div>
                    <div class="stat-label">penalty shots</div>
                </div>
                <div class="stat-card">
                    <div class="stat-abbr">PS%</div>
                    <div class="stat-value">{{ season.g_ps_perc }}</div>
                    <div class="stat-label">penalty shot percentage</div>
                </div>
                <div class="stat-card">
                    <div class="stat-abbr">BRK</div>
                    <div class="stat-value">{{ season.g_br_sh }}</div>
                    <div class="stat-label">breakaways</div>
                </div>
                <div class="stat-card">
                    <div class="stat-abbr">BRK%</div>
                    <div class="stat-value">{{ season.g_br_perc }}</div>
                    <div class="stat-label">breakaway percentage</div>
                </div>
                <div class="stat-card">
                    <div class="stat-abbr">MIN</div>
                    <div class="stat-value">{{ season.g_toi|floatformat:0 }}</div>
                    <div class="stat-label">minutes played</div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="statsbar-desktop"><table class="statsbar">
                <colgroup>
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                    <col style="width: 80px;">
                </colgroup>
                <thead>
                    <tr>
                        <th>GP</th>
                        <th>W</th>
                        <th>L</th>
                        <th>OTL</th>
                        <th>GA</th>
                        <th>SH</th>
                        <th>SV%</th>
                        <th>GAA</th>
                        <th>SO</th>
                        <th>PS</th>
                        <th>PS%</th>
                        <th>BRK</th>
                        <th>BRK%</th>
                        <th>MIN</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="no-bg statline">
                        {% for season in goalie_season_totals %}
                        {% if forloop.first %}
                        <td>{{ season.g_gp }}</td>
                        <td>{{ season.g_wins }}</td>
                        <td>{{ season.g_losses }}</td>
                        <td>{{ season.g_otlosses }}</td>
                        <td>{{ season.g_ga }}</td>
                        <td>{{ season.g_sha }}</td>
                        <td>{{ season.g_svp|floatformat:1 }}</td>
                        <td>{{ season.g_gaa|floatformat:2 }}</td>
                        <td>{{ season.g_so }}</td>
                        <td>{{ season.g_ps_sh }}</td>
                        <td>{{ season.g_ps_perc }}</td>
                        <td>{{ season.g_br_sh }}</td>
                        <td>{{ season.g_br_perc }}</td>
                        <td>{{ season.g_toi|floatformat:0 }}</td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    <tr class="descriptor">
                        <td>games played</td>
                        <td>wins</td>
                        <td>losses</td>
                        <td>overtime losses</td>
                        <td>goals against</td>
                        <td>shots against</td>
                        <td>save percentage</td>
                        <td>goals against average</td>
                        <td>shutouts</td>
                        <td>penalty shots</td>
                        <td>penalty shot %</td>
                        <td>breakaways</td>
                        <td>breakaway %</td>
                        <td>minutes played</td>
                    </tr>
                </tbody>
            </table></div>
        </div>
        {% endif %}
    </center></div>
    {% if games %}
    <div class="section section_lg"><center>
        <div class="subsection-container" style="flex-direction: column;">
            <div class="header" style="width: 100%; text-align: center; margin-bottom: 1px;">
                Game Log
            </div><br>
            <div class="gamelog-table">
                {% for game in games %}
                <div class="gamelog-row">
                    <div class="game-time">
                        {{ game.expected_time|date:"n/j/y g:i" }}
                    </div>
                    <div class="game-details">
                        <div class="game-away">
                            <a href="{% url 'team' game.a_team_num.ea_club_num %}" class="team-name">
                            {{ game.a_team_num.club_abbr }}
                            </a>
                            <span class="team-score">{{ game.a_team_gf }}</span>
                        </div>
                        <div class="game-status">
                            {% if game.gamelength > 3600 %}
                            <a href="{% url 'game' game.game_num %}">F/OT</a>
                            {% else %}
                            <a href="{% url 'game' game.game_num %}">F</a>
                            {% endif %}
                        </div>
                        <div class="game-home">
                            <span class="team-score">{{ game.h_team_gf }}</span>
                            <a href="{% url 'team' game.h_team_num.ea_club_num %}" class="team-name">
                            {{ game.h_team_num.club_abbr }}
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </center></div>
    {% endif %}
    {% if skater_season_totals %}
    <div class="section section_lg" style="align-items: auto; width: 90%; overflow: scroll; margin-bottom: 10px;"><center>
        <div class="header" style="width: 100%; text-align: center; margin-bottom: 1px;">
            Skater History
        </div><br>
        <div><table class="statsbar betweenrows">
            <colgroup>
                <col style="width: 150px;">
                <col style="width: 80px;">
                <col style="width: 80px;">
                <col style="width: 80px;">
                <col style="width: 80px;">
                <col style="width: 80px;">
                <col style="width: 80px;">
                <col style="width: 80px;">
                <col style="width: 80px;">
                <col style="width: 80px;">
                <col style="width: 80px;">
                <col style="width: 80px;">
                <col style="width: 80px;">
                <col style="width: 80px;">
                <col style="width: 80px;">
                <col style="width: 80px;">
                <col style="width: 80px;">
                <col style="width: 80px;">
                <col style="width: 80px;">
                <col style="width: 80px;">
                <col style="width: 80px;">
                <col style="width: 80px;">
            </colgroup>
            <thead>
                <tr>
                    <th>Season</th>
                    <th>GP</th>
                    <th>G</th>
                    <th>A</th>
                    <th>PTS</th>
                    <th>Hits</th>
                    <th>+/-</th>
                    <th>PIMs</th>
                    <th>Drawn</th>
                    <th>PK Clear</th>
                    <th>S</th>
                    <th>S%</th>
                    <th>S Eff</th>
                    <th>PPG</th>
                    <th>SHG</th>
                    <th>Pass %</th>
                    <th>BS</th>
                    <th>TK</th>
                    <th>INT</th>
                    <th>GVA</th>
                    <th>TOP</th>
                    <th>FO%</th>
                </tr>
            </thead>
            <tbody>
                {% for season in skater_season_totals %}
                <tr class="no-bg">
                    <td>{{ season.game_num__season_num__season_text }}</td>
                    <td>{{ season.sk_gp }}</td>
                    <td>{{ season.sk_g }}</td>
                    <td>{{ season.sk_a }}</td>
                    <td>{{ season.sk_p }}</td>
                    <td>{{ season.sk_hits }}</td>
                    <td>{{ season.sk_plus_minus }}</td>
                    <td>{{ season.sk_pims }}</td>
                    <td>{{ season.sk_pens_drawn }}</td>
                    <td>{{ season.sk_pk_clears }}</td>
                    <td>{{ season.sk_sog }}</td>
                    <td>{{ season.sk_shot_perc|floatformat:1 }}</td>
                    <td>{{ season.sk_shot_eff|floatformat:1 }}</td>
                    <td>{{ season.sk_ppg }}</td>
                    <td>{{ season.sk_shg }}</td>
                    <td>{{ season.sk_pass_perc|floatformat:1 }}</td>
                    <td>{{ season.sk_bs }}</td>
                    <td>{{ season.sk_tk }}</td>
                    <td>{{ season.sk_int }}</td>
                    <td>{{ season.sk_gva }}</td>
                    <td>{{ season.sk_poss_time|floatformat:1 }}</td>
                    <td>{{ season.sk_fo_perc|floatformat:1 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table></div>
    </center></div>
    {% endif %}
    {% if goalie_season_totals %}
    <div class="section section_lg" style="align-items: auto; width: 90%; overflow: scroll; margin-bottom: 10px;"><center>
        <div class="header" style="width: 100%; text-align: center; margin-bottom: 1px;">
            Goalie History
        </div><br>
        <div><table class="statsbar betweenrows">
            <col style="width: 150px;">
            <col style="width: 80px;">
            <col style="width: 80px;">
            <col style="width: 80px;">
            <col style="width: 80px;">
            <col style="width: 80px;">
            <col style="width: 80px;">
            <col style="width: 80px;">
            <col style="width: 80px;">
            <col style="width: 80px;">
            <col style="width: 80px;">
            <col style="width: 80px;">
            <col style="width: 80px;">
            <col style="width: 80px;">
            <col style="width: 80px;">
            <thead>
                <tr>
                    <th>Season</th>
                    <th>GP</th>
                    <th>W</th>
                    <th>L</th>
                    <th>OTL</th>
                    <th>GA</th>
                    <th>SH</th>
                    <th>SV%</th>
                    <th>GAA</th>
                    <th>SO</th>
                    <th>PS</th>
                    <th>PS%</th>
                    <th>BRK</th>
                    <th>BRK%</th>
                    <th>MIN</th>
                </tr>
            </thead>
            <tbody>
                {% for season in goalie_season_totals %}
                <tr class="no-bg">
                    <td>{{ season.game_num__season_num__season_text }}</td>
                    <td>{{ season.g_gp }}</td>
                    <td>{{ season.g_wins }}</td>
                    <td>{{ season.g_losses }}</td>
                    <td>{{ season.g_otlosses }}</td>
                    <td>{{ season.g_ga }}</td>
                    <td>{{ season.g_sha }}</td>
                    <td>{{ season.g_svp|floatformat:1 }}</td>
                    <td>{{ season.g_gaa|floatformat:2 }}</td>
                    <td>{{ season.g_so }}</td>
                    <td>{{ season.g_ps_sh }}</td>
                    <td>{{ season.g_ps_perc }}</td>
                    <td>{{ season.g_br_sh }}</td>
                    <td>{{ season.g_br_perc }}</td>
                    <td>{{ season.g_toi|floatformat:0 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table></div>
    </center></div>
    {% endif %}
</center>
{% endblock %}