{% extends 'GHLWebsiteApp/layout.html' %}
{% load static %}
{% block body %}
  <center>
    <div class="section section_lg">
      <center>
      <div class="header">Skater Stats: Season 8</div>
      <table id="fullstandings">
        <col style="width: 60px;">
        <col style="width: 300px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <col style="width: 80px;">
        <tr>
          <th>Pos</th>
          <th>Player</th>
          <th>Team</th>
          <th>GP</th>
          <th>G</th>
          <th>A</th>
          <th>PTS</th>
          <th>S</th>
          <th>PIM</th>
          <th>+/-</th>
          <th>HIT</th>
          <th>FO%</th>
          <th>BS</th>
          <th>INT</th>
          <th>GV</th>
          <th>TK</th>
        </tr>
        <tr>
          <td>1</td>
          <td>JBrewer23</td>
          <td>ATL</td>
          <td>49</td>
          <td>62</td>
          <td>91</td>
          <td>153</td>
          <td>214</td>
          <td>37</td>
          <td>+45</td>
          <td>187</td>
          <td>45%</td>
          <td>49</td>
          <td>355</td>
          <td>522</td>
          <td>177</td>
        </tr>
        <tr>
          <td>2</td>
          <td>FloppyWha1eMeat</td>
          <td>PHI</td>
          <td>33</td>
          <td>86</td>
          <td>64</td>
          <td>150</td>
          <td>198</td>
          <td>10</td>
          <td>+114</td>
          <td>81</td>
          <td>53%</td>
          <td>25</td>
          <td>136</td>
          <td>317</td>
          <td>60</td>
        </tr>
        <tr>
          <td>3</td>
          <td>OG LarryBird</td>
          <td>TOR</td>
          <td>49</td>
          <td>62</td>
          <td>91</td>
          <td>153</td>
          <td>214</td>
          <td>37</td>
          <td>+45</td>
          <td>187</td>
          <td>45%</td>
          <td>49</td>
          <td>355</td>
          <td>522</td>
          <td>177</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Zev</td>
          <td>TOR</td>
          <td>49</td>
          <td>62</td>
          <td>91</td>
          <td>153</td>
          <td>214</td>
          <td>37</td>
          <td>+45</td>
          <td>187</td>
          <td>45%</td>
          <td>49</td>
          <td>355</td>
          <td>522</td>
          <td>177</td>
        </tr>
        <tr>
          <td>5</td>
          <td>MikeV</td>
          <td>PHI</td>
          <td>49</td>
          <td>62</td>
          <td>91</td>
          <td>153</td>
          <td>214</td>
          <td>37</td>
          <td>+45</td>
          <td>187</td>
          <td>45%</td>
          <td>49</td>
          <td>355</td>
          <td>522</td>
          <td>177</td>
        </tr>
      </table>
      </center>
    </div>
  </center>

{% endblock %}