{% extends 'GHLWebsiteApp/layout.html' %}
{% load static %}
{% block body %}
  <center>
    <div class="section section_lg">
      <center>
      {% if not season.season_type == "playoffs" %}
        <div class="header">
          Team Standings: {{ season.season_text }}
        </div>
        <table id="fullstandings">
          <col style="width: 60px;">
          <col style="width: 70px;">
          <col style="width: 60px;">
          <col style="width: 300px;">
          <col style="width: 80px;">
          <col style="width: 80px;">
          <col style="width: 80px;">
          <col style="width: 80px;">
          <col style="width: 80px;">
          <col style="width: 80px;">
          <col style="width: 80px;">
          <col style="width: 80px;">
          <col style="width: 80px;">
          <col style="width: 80px;">
          <col style="width: 80px;">
          <col style="width: 80px;">
          <tr>
            <th>Pos</th>
            <th>&nbsp;</th> <!-- playoff clinch status: class="clinched" -->
            <th>&nbsp;</th> <!-- team logo-->
            <th>Team</th>
            <th>GP</th>
            <th>W</th>
            <th>L</th>
            <th>OTL</th>
            <th>Pct</th>
            <th>GF</th>
            <th>GA</th>
            <th>PP%</th>
            <th>PK%</th>
            <th>L10</th>
            <th>Str</th>
            <th>Pts</th>
          </tr>
          {% for standing in standings %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>&nbsp;</td>
            {% if standing.team.team_logo_link %}
            <td><img src="{{ standing.team.team_logo_link }}" height=24 width=24></img></td>
            {% else %}
            <td>&nbsp;</td>
            {% endif %}
            <td class="hoverlink"><a href="{% url 'team' standing.team.ea_club_num %}">{{ standing.team.club_full_name }}</a></td>
            <td>{{ standing.gp }}</td>
            <td>{{ standing.wins }}</td>
            <td>{{ standing.losses }}</td>
            <td>{{ standing.otlosses }}</td>
            <td>{{ standing.winperc|floatformat:1 }}</td>
            <td>{{ standing.goalsfor }}</td>
            <td>{{ standing.goalsagainst }}</td>
            <td>{{ standing.ppperc }}%</td>
            <td>{{ standing.pkperc }}%</td>
            <td>{{ standing.lastten }}</td>
            <td>{{ standing.streak }}</td>
            <td class="points">{{ standing.points }}</td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="16">No games recorded.</td>
          </tr>
          {% endfor %}
        </table>
        <div id="playoffInfo">
          x - clinched Playoff spot<br />
          y - clinched Division<br />
          z - clinched Conference<br />
          p - clinched Presidents' Trophy
        </div>
        </center>

      {% else %}
      <div class="container">
        <div id="brackets-viewer" class="brackets-viewer"></div>
        <!-- Data + render -->
        <script>
          
          const data = {{ brackets_json|safe }};

          // Optional options (theme, round labels, etc.)
          const options = {
            selector: '#brackets-viewer',
            participantOriginPlacement: 'before',
            showSlotsOrigin: false,
            separatedChildCountLabel: true,
          };

          window.bracketsViewer.setParticipantImages(data.participants.map(participant => ({
            participantId: participant.id,
            imageUrl: participant.icon,
          })));

          // Render:
          window.bracketsViewer.render(data, options).catch(console.error);
        </script>
      </div>
      {% endif %}
    </div>
  </center>
{% endblock %}
