{% extends "GHLWebsiteApp/layout.html" %}
{% load static %}
{% block body %}
<center>
    <div class="section section_lg"><center>
        <div class="subsection-container">
            <table>
                <col style="width: 50%;">
                <col style="width: 1300px;">
                <tr class="no-bg">
                    <td>
                        <img src="{{ team.team_logo_link }}" width=220 height=220 />
                    </td>
                    <td>
                        <center>
                            <font style="font-weight: 700; font-size: 64px">{{ team.club_full_name }}</font>
                            <div class="selectionmenu">
                                <form>
                                    <select id="seasonSel" name="season">
                                        <optgroup>
                                            <option selected value="">Season Dropdown (WIP)</option>
                                        </optgroup>
                                    </select>
                                </form>
                            </div>
                            <div style="font-size: 12px; font-weight: 400; margin-top: 5px;">
                                <a href="{% url 'export_team' team.ea_club_num %}">Get Upcoming Schedule CSV</a>
                            </div>
                        </center>
                    </td>
                </tr>
            </table>
        </div>
        <div class="header">
            Current Roster
        </div>
        <div class="subsection-container">
            <div class="playerlist-container">
                {% for player in roster %}
                    <div class="playerlist-child">
                        <div class = "playerlist-shell">
                            <a class="playerlist-link group" style="background-color: {{ player.current_team.team_color }}; --tw-bg-opacity: 1;" href="{% url 'player' player.ea_player_num %}">
                                <div class="playerlist-bgimg-overlay">
                                    <div class="playerlist-bgimg-offset">
                                        <div class="playerlist-bgimg">
                                            <img alt="{{ player.current_team.club_full_name }}" draggable="false" loading="lazy" decoding="async" data-nimg="fill" style="position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent" src="{{ player.current_team.team_logo_link }}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="playerlist-details-bottom">
                                    <span class"playerlist-details-bottom" style="color: white;">Secondary</span>
                                </div>
                                <span class="playerlist-details-top">Primary</span>
                                <div class="namenum-container">
                                    <div class="namenum-container-inner">
                                        <div class="num-outer">
                                            <div class="num-inner">
                                                <span class="num-individual jerseynumber">
                                                    00
                                                </span>
                                            </div>
                                        </div>
                                        <div class="namecontract-container">
                                            <div class="name-container">
                                                <div class="name">
                                                    {{ player.username }}
                                                </div>
                                            </div>
                                            <div class="contract-container">
                                                <div class="contract">
                                                    <span class="contract-abbr">$$$$K</span>
                                                    <span class="contract-full">$$$$,$$$</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom-contract">
                                    <span class="contract-tiny">$$$$K</span>
                                </div>
                            </a>
                        </div>
                    </div>
                {% empty %}
                    <p>No players found.</p>
                {% endfor %}
            </div>
        </div>
    </center></div>
    <div class="section section_lg"><center>
        <div class="section_lg" style="align-items: auto; width: 90%; overflow: hidden; margin-bottom: 10px;"><center>
            <table class="statsbar betweenrows">
                <colgroup>
                    <col class="name"><!-- Player -->
                    <col class="stat"><!-- GP -->
                    <col class="stat"><!-- G -->
                    <col class="stat"><!-- A -->
                    <col class="stat"><!-- PTS -->
                    <col class="stat"><!-- S -->
                    <col class="stat"><!-- S% -->
                    <col class="stat"><!-- Shot Eff -->
                    <col class="stat"><!-- Deflections -->
                    <col class="stat"><!-- PIM -->
                    <col class="stat"><!-- +/- -->
                    <col class="stat"><!-- HITS -->
                    <col class="stat"><!-- FOW -->
                    <col class="stat"><!-- FOL -->
                    <col class="stat"><!-- BS -->
                    <col class="stat"><!-- INT -->
                    <col class="stat"><!-- GVA -->
                    <col class="stat"><!-- TKA -->
                    <col class="stat"><!-- Pens Drawn -->
                    <col class="stat"><!-- PK Clears -->
                    <col class="stat"><!-- PPG -->
                    <col class="stat"><!-- SHG -->
                    <col class="stat"><!-- Pass% -->
                    <col class="stat"><!-- Poss Time -->
                </colgroup>
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>GP</th>
                        <th>G</th>
                        <th>A</th>
                        <th>PTS</th>
                        <th>SOG</th>
                        <th><span title="Shooting Percentage">S%</span></th>
                        <th><span title="Shot Effectiveness">Shot Eff</span></th>
                        <th><span title="Deflections">Dflct</span></th>
                        <th>PIM</th>
                        <th>+/-</th>
                        <th>HITS</th>
                        <th>FOW</th>
                        <th>FOL</th>
                        <th><span title="Blocked Shots per Game">BS/G</span></th>
                        <th><span title="Interceptions">INT</span></th>
                        <th><span title="Giveaways">GVA</span></th>
                        <th><span title="Takeaways">TKA</span></th>
                        <th>Pens Drawn</th>
                        <th>PK Clears</th>
                        <th>PPG</th>
                        <th>SHG</th>
                        <th><span title="Passing Percentage">Pass%</span></th>
                        <th><span title="Puck Possession per game in seconds">Poss (sec)</span></th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in skaterrecords %}
                    <tr class="no-bg">
                        <td><a class="noline" href="{% url 'player' player.ea_player_num %}">{{ player.ea_player_num__username }}</a></td>
                        <td>{{player.skatersgp}}</td>
                        <td>{{player.skatersgoals}}</td>
                        <td>{{player.skatersassists}}</td>
                        <td>{{player.skaterspoints}}</td>
                        <td>{{player.skaterssog}}</td>
                        <td>{{player.skatersshotperc|floatformat:1}}%</td><!-- needs calculation -->
                        <td>{{player.skatersshoteffperc|floatformat:1}}%</td><!-- needs calculation -->
                        <td>{{player.skatersdeflections}}</td>
                        <td>{{player.skaterspims}}</td>
                        <td>{{player.skatersplusminus}}</td>
                        <td>{{player.skatershits}}</td>
                        <td>{{player.skatersfow}}</td>
                        <td>{{player.skatersfol}}</td>
                        <td>{{player.skatersbs|floatformat:2}}</td>
                        <td>{{player.skatersint}}</td>
                        <td>{{player.skatersgva}}</td>
                        <td>{{player.skaterstakeaways}}</td>
                        <td>{{player.skaterspensdrawn}}</td>
                        <td>{{player.skaterspkclears}}</td>
                        <td>{{player.skatersppg}}</td>
                        <td>{{player.skatersshg}}</td>
                        <td>{{player.skaterspassperc|floatformat:1}}%</td><!-- needs calculation -->
                        <td>{{player.skatersposs|floatformat:1}}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan=25>No skater stats recorded.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </center></div>
        <div class="section_lg" style="align-items: auto; width: 90%; overflow: hidden; margin-bottom: 10px;"><center>
            <table class="statsbar betweenrows">
                <col class="name"><!-- Player -->
                <col class="stat"><!-- Shots Against -->
                <col class="stat"><!-- Saves -->
                <col class="stat"><!-- SV% -->
                <col class="stat"><!-- GAA -->
                <col class="stat"><!-- Shutout -->
                <col class="stat"><!-- Win -->
                <col class="stat"><!-- Loss -->
                <col class="stat"><!-- OTL -->
                <col class="stat"><!-- Breakaway Shots Against -->
                <col class="stat"><!-- Breakaway Saves -->
                <col class="stat"><!-- Penalty Shots Against -->
                <col class="stat"><!-- Penalty Shot Saves -->
                <thead>
                    <tr>
                        <th>Goalie</th>
                        <th>Shots Against</th>
                        <th>Saves</th>
                        <th>SV%</th>
                        <th>GAA</th>
                        <th>Shutout</th>
                        <th>Win</th>
                        <th>Loss</th>
                        <th>OTL</th>
                        <th>Breakaway SA</th>
                        <th>Breakaway SV</th>
                        <th>PS SA</th>
                        <th>PS SV</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in goalierecords %}
                    <tr class="no-bg">
                        <td><a class="noline" href="{% url 'player' player.ea_player_num %}">{{ player.ea_player_num__username }}</a></td>
                        <td>{{player.goaliesshots}}</td>
                        <td>{{player.goaliessaves}}</td>
                        <td>{{player.goaliessvp|floatformat:1}}%</td>
                        <td>{{player.goaliesgaa|floatformat:2}}</td>
                        <td>{{player.goaliesshutouts}}</td>
                        <td>{{player.goalieswins}}</td>
                        <td>{{player.goalieslosses}}</td>
                        <td>{{player.goaliesotlosses}}</td>
                        <td>{{player.goaliesbashots}}</td>
                        <td>{{player.goaliesbasaves}}</td>
                        <td>{{player.goaliespsshots}}</td>
                        <td>{{player.goaliespssaves}}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan=13>No goalie stats recorded.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </center></div>
        <div class="header">
            Games
        </div>
        <div class="section_lg">
            <table class="statsbar betweenrows" style="width: 800px;">
                <colgroup>
                    <col style="width: 160px;"><!-- Game Time -->
                    <col><!-- Away Team -->
                    <col style="width: 80px;"><!-- Away Score -->
                    <col style="width: 80px;"><!-- Final or OT -->
                    <col style="width: 80px;"><!-- Home Score -->
                    <col><!-- Home Team -->
                </colgroup>
                <thead>
                    <tr>
                        <th>Game Time</th>
                        <th style="text-align: right; padding-right: 15px;">Away Team</th>
                        <th>Away Score</th>
                        <th>Final/OT</th>
                        <th>Home Score</th>
                        <th style="text-align: left; padding-left: 15px;">Home Team</th>
                    </tr>
                </thead>
                <tbody>
                    {% if teamgames %}
                        {% for game in teamgames %}
                        <tr class="no-bg">
                            <td>{{ game.expected_time|date:"m/d/y  g:i" }}</td>
                            <td style="text-align: right; padding-right: 10px;"><a class="noline" href="{% url 'team' game.a_team_num.ea_club_num %}">{{ game.a_team_num.club_full_name }}</a></td>
                            <td>{{ game.a_team_gf }}</td>
                            {% if game.gamelength > 3600 %}
                            <td><a href="{% url 'game' game.game_num %}">Final/OT</a></td>
                            {% elif game.played_time is None %}
                            <td><a href="{% url 'game' game.game_num %}">@</a></td>
                            {% else %}
                            <td><a href="{% url 'game' game.game_num %}">Final</a></td>
                            {% endif %}
                            <td>{{ game.h_team_gf }}</td>
                            <td style="text-align: left; padding-left: 10px;"><a class="noline" href="{% url 'team' game.h_team_num.ea_club_num %}">{{ game.h_team_num.club_full_name }}</a></td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan=6>No games recorded.</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan=6>No games recorded.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </center></div>
</center>
{% endblock %}